body{
    background: linear-gradient(to bottom right, white,
    #bcbdc4);
    height:90%;
}
.body_fix{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 90%;  
}


#form03{
    top: 20%;
    left: 5%;
    height: 25%;
    width: 35%;
    font-size: 24px;
    font-size: 1.5vw;
    color: #EB8D12;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#info02 {
    height: 10%;
    width: 35%;
    left: 5%;
    top: 9%;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-size: 2.5vw;
    color: #EB8D12;
}
#info01 {
    width: 50%;
    height: 10%;
    left: 50%;
    top: 9%;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-size: 2.5vw;
    color: #EB8D12;

}
#img02{
    top: 20%;
    left: 51%;
    width: 37%;
    height: 37%;
    
}
.submit02{
    width:40%;
    height: 30%;
    left: 0%;
    top: 10px;
    background: limegreen;
    color: white;
    font-size: 100%;
    border-radius: 10px 10px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}
.header{
    position: fixed;
    width: 100%;
    height: 15%;
    background: #EB8D12;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#namebox{
    width: 50%;
    height: 20%;
    border-radius: 10px/10px;
    background: white;
    padding: 5%;
    font-size: 100%;
    text-transform: capitalize;
}
#mailbox{
    width: 100%;
    height: 20%;
    border-radius: 10px/10px;
    background: white;
    padding: 5%;
    font-size: 95%;
}
.flexi{
	width: 100%;
	height: 100%;
}
#slika{
	max-width: 100%;
	max-height: 100%;
}
