@()

<!-- Modal for signing out starts-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                    Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
            </div>
            <div class="modal-footer">
                <a href="@routes.Application.logout()" class="btn btn-primary" onclick="deleteCookies()">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div><!-- Modal sign out ends-->


<html>

    <head>
        <meta name="keywords" content="footer, address, phone, icons" />
        <title>Footer With Address And Phones</title>
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    </head>

    <body>
        <hr>
        <!--========Footer starts=============-->
        <footer class="footer-distributed">
            <div class="footer-left">
                <p class="footer-company-about">
                    <span>Helpful Links</span>
                </p>
                <div>
                    <img src='@routes.Assets.versioned("images/home.png")' id="home"/><a href="@routes.Application.index()">Home</a>
                    <br/><br>
                    <img src='@routes.Assets.versioned("images/faq-icon.png")' id="faq"/><a href="@routes.FaqController.userFaqView()"> FAQs</a>
                    <br/><br>
                    <img src='@routes.Assets.versioned("images/contactus-icon.png")' id="contactus"/><a href="@routes.MailController.contact()">  Contact Us</a>
                </div>
            </div>

            <div class="footer-center">
                <p class="footer-company-about">
                    <span><b>Contact BIT Tracking</b></span>
                </p>
                <div>
                    <img src='@routes.Assets.versioned("images/map.png")' id="map"/>
                    <p><span>Hrasnicka cesta 15</span> Ilidza, Sarajevo</p>
                </div>
                <br>
                <div>
                    <img src='@routes.Assets.versioned("images/phone_icon.gif")' id="phone"/>
                    <span style="color:#737373">+38761/555-555</span>
                </div>
                <br>
                <div>
                    <img src='@routes.Assets.versioned("images/mail.jpg")' id="mail"/>
                    <a href="mailto:support:company.com">bittracking2015@@gmail.com</a>
                </div>

            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>Follow us</span>
                </p>

                <div>
                    <a href="https://www.facebook.com/Bit-Tracking-462032430635765/" target="_blank" data-toggle="tooltip" title="BIT Tracking Facebook Page"><img src='@routes.Assets.versioned("images/facebookico.png")' id="facebook" width="27px" height="27px" class="glyphicon-resize-small"/></a>
                    <a href="https://twitter.com/BitTracking" target="_blank" data-toggle="tooltip" title="BIT Tracking Twitter"><img src='@routes.Assets.versioned("images/twitter.png")' id="twitter"/></a>
                    <a href="#"><img src='@routes.Assets.versioned("images/linkedin.png")' id="linkedin" data-toggle="tooltip" title="BIT Tracking LinkedIn"/></a>
                    <a href="https://github.com/Sehic/bit_tracking"><img src='@routes.Assets.versioned("images/octocat.png")' id="octocat" data-toggle="tooltip" title="BIT Tracking GitHub"/></a>
                    <a href="@routes.Application.aboutUs()"><img src='@routes.Assets.versioned("images/aboutus.png")' width="33px" height="33px" id="aboutus" data-toggle="tooltip" title="About BIT Tracking Team"/></a>
                </div>
            </div>
        </footer><!--========Footer ends=============-->
    </body>
</html>
<hr>

<!-- ==============COPYRIGHT=================-->
<div class="row">
    <div class="col-md-12">
        <div class="container" style="text-align : center" >
            <footer>
                <p>Copyright &copy; 2015 BitTracking Team</p>
            </footer>
        </div>
    </div>
</div> <!-- Ends copyright-->