@()

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                    Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
            </div>
            <div class="modal-footer">
                <a href="@routes.Application.logout()" class="btn btn-primary" onclick="deleteCookies()">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- ==============FOOTER=================-->

<div class="row">
    <hr>
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-3">
                <div class="container" style="font-size : x-small">
                    <address>
                        <h5 style="font-size : 14px"><strong>BIT Tracking</strong></h5> <br>
                        Address: Sarajevo, Street: <br>
                        Bosnia and Herzegovina, 71000<br> <abbr title="Phone">P:</abbr> (387) 000-000
                    </address>
                </div>
            </div>

            <div class="col-md-3">
                <div class="container">
                    <h5 style="font-size : 14px">
                        <strong> Custommer Support</strong>
                    </h5>
                    <a href="@routes.Application.contact()"><button type="button" class="btn btn-link">
                        Contact BIT Tracking
                    </button></a>
                </div>
            </div>

            <div class="col-md-3">
                <h5>
                    <strong>New Customers</strong>
                </h5>
            </div>

            <div class="col-md-3">
                <h5 style="font-size : 14px">
                    <strong>Follow BIT Tracking</strong>
                </h5>
                <link href="">
            </div>
        </div>
    </div>
</div> <!-- Ends footer-->

<hr>

<!-- ==============COPYRIGHT=================-->
<div class="row">
    <div class="col-md-12">
        <div class="container" style="text-align : center" >
            <footer>
                <p>Copyright &copy; 2015 BitTracking Team</p>
            </footer>
        </div>
    </div>
</div> <!-- Ends copyright-->