@import helpers.SessionHelper

@()(implicit currentUser: User = SessionHelper.getCurrentUser(ctx()))

<div class="row"> <!--This row contains grid col 2 8-->
    <div class="col-md-12"><!-- Starts navbar -->
        <nav class="navbar navbar-default" role="navigation">
                <!-- Home tab in navigation bar-->
            <div class="navbar-header">
                 <a class="navbar-brand" href="@routes.Application.index()"><img src='@routes.Assets.versioned("images/logo.png")' id="logo" alt="" class="img-responsive"></a>
            </div> <!-- End Home tab in navigation bar-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                        <!-- =========My Bit Tracking dropdown in navigation bar========-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="mybt">
                            My BT<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                        @if(currentUser != null && currentUser.typeOfUser == UserType.REGISTERED_USER) {

                            <li>
                                <a href="@routes.Application.userPanel()">My Tracking Panel</a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="@routes.UserController.userProfile(currentUser.id)">
                                    My Profile</a>
                            </li>

                            <li>
                                <a href="@routes.UserController.editProfile(currentUser.id)">
                                    Edit Profile</a>
                            </li>
                        }

                        </ul>
                    </li> <!-- End My Bit Tracking dropdown in navigation bar-->

                    <!-- =====Shipping dropdown in navigation bar======-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Ship<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action 1</a>
                            </li>
                            <li>
                                <a href="#">Action 2</a>
                            </li>
                            <li>
                                <a href="#">Action 3</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Action 4</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Action 5</a>
                            </li>
                        </ul>
                    </li> <!-- End Shipping dropdown in navigation bar-->

                    <!-- Tracking tab in navigation bar-->
                    <li>
                        <a href="@routes.Application.trackPackage()">Track</a>
                    </li> <!-- End Tracking tab in navigation bar-->

                    <!-- Location tab in navigation bar-->
                    <li>
                        <a href="#">Locations</a>
                    </li> <!-- Ends Location tab in navigation bar-->


                    <!-- BT Solutions tab in navigation bar-->
                    <li>
                        <a href="#">BT Solutions</a>
                    </li> <!-- Ends BT Solutions tab in navigation bar-->

                    <!-- SUPPORT Dropdown tab in navigation bar-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Support<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@routes.MailController.contact()">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Action 2</a>
                            </li>
                            <li>
                                <a href="#">Action 3</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Action 4</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Action 5</a>
                            </li>
                        </ul>
                    </li> <!-- ENDS SUPPORT Dropdown tab in navigation bar-->
                    <!-- Admin panel tab in navigation bar-->
                    @if(currentUser != null && currentUser.typeOfUser == UserType.ADMIN) {
                        <li>
                            <a href="@routes.Application.adminPanel()">Admin panel</a>
                        </li> <!--Admin panel tab in navigation bar-->
                    }
                    @if(currentUser != null && currentUser.typeOfUser == UserType.OFFICE_WORKER) {
                        <li>
                            <a href="@routes.WorkerController.officeWorkerPanel()">Office Worker Panel</a>
                        </li> <!--Admin panel tab in navigation bar-->
                    }

                    @if(currentUser != null && currentUser.typeOfUser == UserType.DELIVERY_WORKER) {
                        <li>
                            <a href="@routes.WorkerController.deliveryWorkerPanel()">Delivery Worker Panel</a>
                        </li> <!--Admin panel tab in navigation bar-->
                    }

                </ul>

                    <!--=========== LOG IN REGISTER TAB in NAVIGATION BAR===========-->
                @if(currentUser == null) {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@routes.Application.register()">Register</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@routes.Application.login()">Log In</a>
                            } else {

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>
                                Sign Out</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">@currentUser.firstName</a>
                        </li>
                    </ul>
                }

            </li>
            </ul> <!--Ends LOG IN REGISTER TAB in NAVIGATION BAR-->

                <!--SEARCH BAR
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input class="form-control" type="text">
                                </div>
                                <button type="submit" class="btn btn-default">
                                    Search
                                </button>
                            </form> ENDS SEARCH BAR-->
            </div>
        </nav>
    </div> <!-- Ends navbar-->
</div> <!-- Ends row-->