@import helper._
@main("About Us"){
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <p>At <strong>BIT Camp</strong> we do <strong>Teamwork</strong>, we do <strong>Help</strong>, we do <strong>Respect</strong>, <strong>Punctuality</strong> and <strong>Laughter</strong>. We do <strong>Friendship</strong>. We do <strong>Coffee</strong> and <strong>Cake</strong>. We <strong>Communicate</strong> and <strong>Listen</strong>. We do <strong>Motivation</strong>. We do <strong>Great Things</strong>. Our team have done <strong>BIT Tracking Web Application</strong>. </p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="avatar img-circle" alt="avatar" src='@routes.Assets.versioned("images/cima.jpg")' height="200" width="200" data-toggle="tooltip" title="Cima" data-placement="right">
            <h3>Ajdin Brkic
                <small>Gricko</small>
            </h3>
            <p>Meeeehhhhh</p>
            <small>From: Visoko</small>
        </div><br/>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="avatar img-circle" alt="avatar" src='@routes.Assets.versioned("images/eda.jpg")' height="200" width="200" data-toggle="tooltip" title="Eda" data-placement="right">
            <h3>Edin Pilavdzic
                <small>Otac malog</small>
            </h3>
            <p>A positive attitude may not solve all your problems, but it will annoy enough people to make it worth the effort.</p>
            <small>From: Rajvosa</small>
        </div><br/>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="avatar img-circle" alt="avatar" src='@routes.Assets.versioned("images/minaa.jpg")' height="200" width="200" data-toggle="tooltip" title="Mina" data-placement="right">
            <h3>Emina Arapcic
                <small>brat</small>
            </h3>
            <p>Work hard and be nice to people!Work hard and be nice to people!</p>
            <small>From: Kazahstan</small>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="avatar img-circle" alt="avatar" src='@routes.Assets.versioned("images/hajra.jpg")' height="200" width="200" data-toggle="tooltip" title="Hajra" data-placement="right">
            <h3>Hajrudin Sehic
                <small>Car</small>
            </h3>
            <p>Sometimes it pays to stay in bed on Monday, rather than spending the rest of the week debugging Monday's code.</p>
            <small>From: Rajvosa</small>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="avatar img-circle" alt="avatar" src='@routes.Assets.versioned("images/kika.jpg")' height="200" width="200" data-toggle="tooltip" title="Kika" data-placement="right">
            <h3>Kristina Pupavac
                <small>Pricalica</small>
            </h3>
            <p>God is real unless declared as an Integer.</p>
            <small>From: Josik</small>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="avatar img-circle" alt="avatar" src='@routes.Assets.versioned("images/mladja.jpg")' height="200" width="200" data-toggle="tooltip" title="Mladja" data-placement="right">
            <h3>Mladen Teofilovic
                <small>Brat</small>
            </h3>
            <p>He is not afraid at all to delete other developer's code. Brave man. </p>
            <small>From: Voga</small>
        </div>
    </div>

    <hr>
}