@(packs: java.util.List[models.Package])
    @adminmain("Package") {

        <ol class="breadcrumb">
            <li><a href="@routes.Application.adminPanel()">Admin Panel</a></li>
            <li class="active">Package</li>
        </ol>
        <h1>Package</h1>

    <div class="row margin-bottom-30">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li><a href="@routes.Application.adminTables()">User <span class="badge"></span></a></li>
                <li><a href="@routes.Application.adminPostOffice()">Post Office <span class="badge"></span></a></li>
                <li class="active"><a href="#">
                    Package <span class="badge">@packs.size</span></a></li>
            </ul>
        </div>
    </div>

        <div class="row">
            <div class="col-md-7">
                <a href="@routes.PackageController.addPackage()"><button type="button" class="btn btn-primary btn-group-xs" data-toggle="modal">
                    Add package</button></a>
            </div>
        </div>

        <div class="table-responsive">

        </div>

        <h4 class="margin-bottom-15">List of packages</h4>
    <table id="example" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tracking Number</th>
                    <th>Route</th>
                    <th>Destination</th>
                    <th>Post Office</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            @for(pack <- packs) {
                <tr class="succes">
                    <td>@pack.id</td>
                    <td>@pack.trackingNum</td>

                    @if(pack.shipmentPackages.size() < 2) {
                        <td><a href="@routes.PostOfficeController.listRoutes(pack.id)">Add Route</a></td>
                    } else {
                        <td>

                        @for(shipments: Shipment <- pack.shipmentPackages) {
                            @shipments.postOfficeId.name
                        }
                        </td>
                    }


                    <td><a href="@routes.PackageController.editPackage(pack.id)">@pack.destination</a></td>
                    @if(pack.shipmentPackages.size() != 0) {
                        <td>@pack.shipmentPackages.get(0).postOfficeId.name</td>
                    } else {
                        <td></td>
                    }
                    <td><a data-role="delete" data-delete-parent="tr" href="@routes.PackageController.deletePackage(pack.id)" role="button"><input class="btn-link" type="button" value="Delete"></a></td>
                </tr>
            }

            </tbody>
        </table>

    }