@(admin: User)
    @adminmain("Preferences") {
        <ol class="breadcrumb">
            <li><a href="@routes.Application.adminPanel()">Admin Panel</a></li>
            <li><a href="#">Preferences</a></li>
            <li class="active">Form Controls</li>
        </ol>
        <h1>Preferences</h1>
        <p class="margin-bottom-15"></p>
        <div class="row">
            <div class="col-md-12">

            @helper.form(action = routes.UserController.updateUser(admin.id), 'id -> "templatemo-preferences-form", 'role -> "form") {
                <div class="row">
                    <div class="col-md-6 margin-bottom-15">
                        <label for="firstName" class="control-label">First Name</label>
                        <input name="firstName" type="text" class="form-control" id="firstName" value="@admin.firstName" style="font-size:11px; font-style: italic ">
                    </div>
                    <div class="col-md-6 margin-bottom-15">
                        <label for="lastName" class="control-label">Last Name</label>
                        <input name="lastName" type="text" class="form-control" id="lastName" value="@admin.lastName" style="font-size:11px; font-style: italic ">
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 margin-bottom-15">
                        <label>Email address</label>
                        <p class="form-control-static" id="email" style="font-size:12px; font-style: italic ">@admin.email</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 margin-bottom-15">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" value="********" disabled>
                    </div>
                    <div class="col-md-6 margin-bottom-15">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 margin-bottom-15">
                        <label for="password_1">New Password</label>
                        <input name="password" type="password" class="form-control" id="password_1" placeholder="New Password must be alpha, special symbol, one number. Min alowed length is 6." style="font-size:11px; font-style: italic ">
                    </div>
                    <div class="col-md-6 margin-bottom-15">
                        <label for="password_2">Confirm New Password</label>
                        <input name="repassword" type="password" class="form-control" id="password_2" placeholder="Confirm New Password" style="font-size:11px; font-style: italic ">
                    </div>
                </div>


                <div class="row templatemo-form-buttons">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            }
            </div>
        </div>
    }