@(logs: List[ApplicationLog])
@adminmain("Logs") {
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <h4 class="margin-bottom-15">BIT Tracking logs</h4>
                <table class="searchSortClass table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Timestamp</th>
                            <th>Log Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(log <- logs) {
                        <tr>
                            <td>@log.id</td>
                            <td>@log.date</td>
                            <td>@log.comment</td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}