@import helper._
@(offices: List[PostOffice])(text: Form[User])
    @adminmain("Add Office Worker") {
        <!--============ REGISTER CONTAINER ==============-->
        <div class="container-fluid">
                <!--Register title row -->
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Add Worker
                    </h3>
                </div>
            </div> <!--End register title  row-->

            <!--Paragraf row -->
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Please use the form below to create a Worker account. Required fields are indicated with *.
                    </p>
                </div>
            </div><!--End paragraf row-->

            <!--=======Form row============ -->
            <div class="row">
                <div class="col-md-12">

                @helper.form(action = routes.UserController.addWorker(), 'class -> "form-horizontal", 'role -> "form") {


                    <div class="form-group">

                        <label for="inputName" class="col-sm-3 control-box">
                            First Name*:
                        </label>
                        <div class="col-sm-9">
                            <input name="firstName" value="@text("firstName").value" placeholder="First Name should contain only letters" onblur="checkFirstName()" type="text" class="form-control" id="inputName" required="required">
                            <span id="err1" class="alert-danger" data-error-for="" >@flash.get("errorName")</span>

                        </div>
                    </div>

                    <div class="form-group">

                        <label for="inputLastName" class="col-sm-3 control-box">
                            Last Name*:
                        </label>
                        <div class="col-sm-9">
                            <input name="lastName" value="@text("lastName").value" placeholder="Last Name should contain only letters" onblur="checkLastName()" type="text" class="form-control" id="inputLastName" required="required">
                            <span id="err2" class="alert-danger" data-error-for="" >@flash.get("errorLastName")</span>

                        </div>
                    </div>


                    <div class="form-group">

                        <label for="inputEmail3" class="col-sm-3 control-box">
                            Email*:
                        </label>
                        <div class="col-sm-9">
                            <input name="email" value="@text("email").value" placeholder="Insert Email" onblur="checkEmail()" type="email" class="form-control" id="inputEmail3" required="required">
                            <span id="err3" class="alert-danger" data-error-for="" >@flash.get("errorEmail")</span>

                        </div>
                    </div>

                    <div class="form-group">

                        <label for="inputPassword3" class="col-sm-3 control-box">
                            Password*:
                        </label>
                        <div class="col-sm-9">
                            <input name="password" onblur="checkPassword()" placeholder="Password should contain any sequence of alpha & one number. Minimum alowed length is 6. " type="password" class="form-control" id="inputPassword3" required="required">
                            <span id="err4" class="alert-danger" data-error-for="" >@flash.get("errorPassword")</span>

                        </div>
                    </div>
                    <div class="form-group">

                        <label for="inputPassword4" class="col-sm-3 control-box">
                            Confirm Password*:
                        </label>
                        <div class="col-sm-9">
                            <input name="repassword" onblur="checkPasswords()" placeholder="Confirm Password" type="password" class="form-control" id="inputPassword4" required="required">
                            <span id="err5" class="alert-danger" data-error-for="" >@flash.get("errorTwoPasswords")</span>

                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-sm-offset-3 col-sm-3">
                            <select class="form-control" name="postOffice">
                                <option value="">Choose Post Office</option>
                                @for(office <- offices) {

                                    <option value="@office.name">@office.name</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-3">
                            <select class="form-control" name="userType">

                                <option value="1">Office Worker</option>
                                <option value="2">Delivery Worker</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">

                            <input type="submit" id="registerWorker" class="btn-group pull-right" value="Register">

                        </div>
                    </div>
                }

                </div>
            </div> <!--End form row -->
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted text-left">
                        <small><em>
                            By clicking Register, I agree to the use of my personal information according to the BIT Tracking Statement. I understand that my personal information may be transferred for processing outside my country of residence, where standards of data protection may be different.</em></small>
                    </p>
                </div>
            </div>
        </div>

    }