@(packs: java.util.List[models.Package])
@adminmain("Package") {

<script>
    $(document).ready(
            function() {
                setInterval(function() {
                    $.ajax({
                        url: "/adminpanel/json",
                        type: "GET",
                        dataType: "json"
                    }).success(function (response) {
                        var trHTML = '';
                        var i;
                        for (i =0; i<response.length; i++){
                          trHTML += '<tr><td>' + response[i].id + '</td><td>' + response[i].trackingNum + '</td>';
                          console.log(response[i].shipmentPackages);
                          if(response[i].shipmentPackages.size() < 2){
                                trHTML += '<td><a href='+ routes.PostOfficeController.listRoutes(response[i].id)+'>'+"Add Route"+'</a></td>';
                          }else{

                          }
                          trHTML += '<td>' + response[i].destination + '</td>';
                          trHTML += '<td>' + "Office" + '</td><td>' + response[i].weight + '</td><td>' + response[i].price + '</td>';
                          trHTML += '<td><a href='+routes.PackageController.deletePackage(response[i].id)+'>'+'Delete'+'</a></td></tr>';

                        }
                        $('#example1').html(trHTML);
                    })
                }, 3000);
            });
</script>


    <ol class="breadcrumb">
        <li><a href="@routes.Application.adminPanel()">Admin Panel</a></li>
        <li class="active">Package</li>
    </ol>
    <h1>Packages</h1>

    <div class="row margin-bottom-30">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li><a href="@routes.Application.adminTables()">User <span class="badge"></span></a></li>
                <li><a href="@routes.Application.adminPostOffice()">Post Office <span class="badge"></span></a></li>
                <li class="active"><a href="#">
                    Package <span class="badge">@packs.size</span></a></li>
            </ul>
        </div>
    </div>

    <hr/>
    <a href="@routes.PackageController.addPackage()"><button type="button" class="btn btn-primary btn-group-xs" data-toggle="modal">
        Add package</button></a>
    <hr/>

    <div class="table-responsive">

    </div>

    <div id="packageTable">

    <h4 class="margin-bottom-15">List of packages</h4>
    <table id="example" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Tracking Number</th>
                <th>Route</th>
                <th>Destination</th>
                <th>Post Office</th>
                <th>Weight</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="example1"></tbody>
    </table>
    </div>

}