@(postOffices: List[PostOffice])
@import helper._
@adminmain("Post Office") {

  <ol class="breadcrumb">
    <li><a href="@routes.Application.adminPanel()">Admin Panel</a></li>
    <li class="active">Post office</li>
  </ol>
  <h1>Post offices</h1>

    <div class="row margin-bottom-30">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li><a href="@routes.Application.adminTables()">User <span class="badge"></span></a></li>
                <li class="active"><a href="#">Post Office <span class="badge">
                @postOffices.size</span></a></li>
                <li><a href="@routes.PackageController.adminPackage()">
                    Package <span class="badge"></span></a></li>
            </ul>
        </div>
    </div>

    <hr/>
            <a href="@routes.Application.addPostOffice()"><button type="button" class="btn btn-primary btn-group-sm" data-toggle="modal" >Add post office</button></a>
    <hr/>



    <div class="row">
        <div class="col-sm-12" >
            <div class="row">
                <div class="col-sm-12" >
                    <h4 class="margin-bottom-15">List of post offices</h4>
                </div>
            </div>
        </div>
    </div>
    <table id="example" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Adress</th>
          <th>Link</th>
          <th>Linked To</th>
          <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    @for(postOffice <- postOffices) {
      <tr class="succes">
        <td>@postOffice.id</td>
        <td>@postOffice.name</td>
          <td>@postOffice.address</td>
          <td><a href="@routes.PostOfficeController.linkPostOffices(postOffice.id)">Link</a></td>
          <td>
          @for(linkedOffice <- postOffice.postOfficesA) {
             @linkedOffice.name
          }
          </td>
          <td><a href="@routes.PostOfficeController.postOfficeDetails(postOffice.id)">Edit</a></td>
          <td><a data-role="delete" data-delete-parent="tr" href="@routes.PostOfficeController.deleteOffice(postOffice.id)" role="button"><input type="button" value="Delete"></a></td>

      </tr>
    }

    </tbody>
  </table>

}