@import helpers.SessionHelper

@(implicit user: User)

@main("Change Password") {

    <div id="changePassword" class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top : 35px">
                <h2>Change Password</h2>
                <hr/>
            </div>
        </div>

            <!--==== Change password form starts ===-->
        @if(SessionHelper.getCurrentUser(ctx()) != null) {
            <div class="form-group">
                <label for="oldPassword">
                    Old Password:
                </label>
                <div>
                    <input type="password" name="oldPassword" class="form-control" id="oldPassword" value="" required="required">
                </div>
            </div>
        }

        <div class="form-group">

            <label for="newPassword">
                New Password:
            </label>
            <div>
                <input type="password" name="newPassword" class="form-control" id="newPassword" value="" required="required">
            </div>
        </div>

        <div class="form-group">

            <label for="reNewPassword">
                Repeat new password:
            </label>
            <div>
                <input type="password" name="reNewPassword" class="form-control" id="reNewPassword" value="" required="required">
            </div>
        </div>

        <div><span id="changePasswordSpan" data-error-for="" ></span></div>

        <div><input id="saveResetPassword" type="submit" class="btn btn-primary btn-sm" value="Save Changes"></div>
            <!--==== Change password form ends ===-->

            <!-- MUST STAY IN THIS HTML FILE, BECAUSE IT TAKES USER-ID FROM IMPORT -->
        <script >
            $(document).ready(function() {
                var userId = @user.id;
                var button = $('#saveResetPassword');
                var span = $('#changePasswordSpan');
                button.click(function() {
                    var oldPass = $('#oldPassword').val();
                    var newPass = $('#newPassword').val();
                    var reNewPass = $('#reNewPassword').val();
                    $.ajax({
                        url: '@routes.UserController.makePasswordChange()',
                        data: 'userId='+userId + '&oldPass=' + oldPass + "&newPass=" + newPass + "&reNewPass=" + reNewPass,
                        type: 'post'
                    }).success(function(response) {
                        span.html("Password successfully changed!").removeClass("alert-danger").addClass("alert-success");
                        window.location.href = "/";
                    }).error(function(response) {
                        var textResponse = response.responseText;
                        if(textResponse === 'wrongoldpassword') {
                            span.html("Error! Please enter old password.").removeClass("alert-success").addClass("alert-danger");
                        } else if (textResponse === 'wrongoldpassword2') {
                            span.html("Error! Wrong old password.").removeClass("alert-success").addClass("alert-danger");
                        } else if (textResponse === 'passwordsdontmatch') {
                            span.html("Error! Passwords must match.").removeClass("alert-success").addClass("alert-danger");
                        } else if (textResponse === 'errorpassword') {
                            span.html("Error! Password should be at least 6 characters long, and should contain at least one letter and one number.").removeClass("alert-success").addClass("alert-danger");
                        }
                    })
                })
            })
        </script>
    </div>

}