@import helpers.StatusHelper
@import helpers.SessionHelper
@(packages: List[models.Package])(userPackagesForDelivery: List[models.Package])(userPackages: List[models.Package])
@adminmain("Delivery Courier Panel") {

    <ol class="breadcrumb">
        <li><a href="@routes.Application.adminPanel()">Delivery Courier Panel</a></li>
        <li><a href="#">Manage Packages</a></li>
        <li class="active">Packages</li>
    </ol>
    <hr/>
    <h1>Delivery Courier Panel (@SessionHelper.getCurrentUser(ctx()).postOffice.name)</h1>
    <hr/>
    <!--=====Delivery Courier Panel form starts====-->
    @helper.form(routes.PackageController.takePackages(), 'id -> "forms", 'class -> "form-horizontal", 'role -> "form") {
        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive">
                    <a id="takePackagesId" class="btn btn-info btn-group-sm" data-toggle="modal">
                        Show Packages Ready For Shipping <span class="badge">@packages.size </span></a>
                    <a id="hideTakePackagesId" class="btn btn-info btn-group-sm" data-toggle="modal">
                        Hide Packages Ready For Shipping</a>
                    <a id="myPackages" class="btn btn-info btn-group-sm">
                        My Packages</a>
                    <a id="myPackages1" class="btn btn-info btn-group-sm">
                        My Packages</a>
                    <hr/>
                    <div id="packagesToTake">
                        <table class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tracking Number</th>
                                    <th>Sender Name</th>
                                    <th>Recipient Name</th>
                                    <th>Recipient Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(pack <- packages) {
                                    <tr>
                                        <td>@pack.id</td>
                                        <td>@pack.trackingNum</td>
                                        <td>@pack.senderName</td>
                                        <td>@pack.recipientName</td>
                                        <td>@pack.recipientAddress</td>
                                        <td>@pack.statusForCourier</td>
                                        <td><input type="checkbox" name="@pack.id" value="@pack.id">Take</td>
                                        }
                            </tr>
                            </tbody>
                        </table>
                        <input type="submit" value="Take Packages" class="btn btn-primary pull-right"/>
                    </div>
                </div>
            </div>
            }
        <!--=====Delivery Courier Panel form ends====-->
        </div>
    <!--=====Delivery Courier Panel Update Status Form starts====-->
    @helper.form(routes.PackageStatusController.updateStatusDeliveryCourier(), 'id -> "forma", 'class -> "form-horizontal", 'role -> "form") {
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <h4 class="margin-bottom-15 breadcrumb">Delivery Courier Packages</h4>
                    <table class="searchSortClass table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tracking Number</th>
                                <th>Sender Name</th>
                                <th>Recipient Name</th>
                                <th>Recipient Address</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(pack <- userPackagesForDelivery) {
                                <tr>
                                    <td>@pack.id</td>
                                    <td>@pack.trackingNum</td>
                                    <td>@pack.senderName</td>
                                    <td>@pack.recipientName</td>
                                    <td>@pack.recipientAddress</td>
                                    <td>@pack.statusForCourier</td>
                                    <td><input type="checkbox" name="@pack.id" value="@pack.id"> Done</td>
                                    }
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Mark selected packages as delivered</button>
    }
    <!--=====Delivery Courier Panel Update Status Form ends====-->
    <div id="myPackagesDiv" class="row">
        <div class="col-md-12">
                <!--=====Delivery Courier Panel Transported packages table starts====-->
            <div class="table-responsive">
                <h4 class="margin-bottom-15 breadcrumb">My Transported Packages</h4>
                <table class="searchSortClass table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tracking Number</th>
                            <th>Sender Name</th>
                            <th>Recipient Name</th>
                            <th>Recipient Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(pack <- userPackages) {
                            <tr>
                                <td>@pack.id</td>
                                <td>@pack.trackingNum</td>
                                <td>@pack.senderName</td>
                                <td>@pack.recipientName</td>
                                <td>@pack.recipientAddress</td>
                                <td>@pack.statusForCourier</td>
                                }
                    </tr>
                    </tbody>
                </table>
            </div>
                <!--=====Delivery Courier Panel Transported packages table ends====-->
        </div>
    </div>
}
