@import helpers.StatusHelper
@import helpers.SessionHelper
@(packages: List[models.Package])(userPackagesForDelivery: List[models.Package])(userPackages: List[models.Package])
@adminmain("Delivery Worker Packages") {

    <ol class="breadcrumb">
        <li><a href="@routes.Application.adminPanel()">Delivery Worker Panel</a></li>
        <li><a href="#">Manage Packages</a></li>
        <li class="active">Packages</li>
    </ol>
    <hr/>
    <h1>Delivery Worker Panel (@SessionHelper.getCurrentUser(ctx()).postOffice.name)</h1>
    <hr/>
    @helper.form(routes.PackageController.takePackages(), 'id -> "forms", 'class -> "form-horizontal", 'role -> "form") {
        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive">
                    <a id="takePackagesId" class="btn btn-info btn-group-sm" data-toggle="modal">
                        Show Packages Ready For Shipping (@packages.size)</a>
                    <a id="hideTakePackagesId" class="btn btn-info btn-group-sm" data-toggle="modal">
                        Hide Packages Ready For Shipping</a>
                    <a id="myPackages" class="btn btn-info btn-group-sm">
                        My Packages</a>
                    <a id="myPackages1" class="btn btn-info btn-group-sm">
                        My Packages</a>
                    <hr/>
                    <div id="packagesToTake">
                        <table class="searchSortClass table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tracking Number</th>
                                    <th>Sender Name</th>
                                    <th>Recipient Name</th>
                                    <th>Recipient Address</th>
                                    <th>Status</th>
                                    <th>Next Destination</th>
                                    <th>Final Destination</th>
                                    <th>Check</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for(pack <- packages) {
                                    <tr>
                                        <td>@pack.id</td>
                                        <td>@pack.trackingNum</td>
                                        <td>@pack.senderName</td>
                                        <td>@pack.recipientName</td>
                                        <td>@pack.recipientAddress</td>
                                        @if(pack.shipmentPackages.size() != 0) {
                                            @for((shipmentFromThisPackage, i) <- pack.shipmentPackages.view.zipWithIndex) {
                                                @if(shipmentFromThisPackage.status == StatusHelper.READY_FOR_SHIPPING) {
                                                    <td>@shipmentFromThisPackage.status</td>

                                                    @if(i != pack.shipmentPackages.size() - 1) {
                                                        <td>@pack.shipmentPackages.get(i + 1).postOfficeId.name</td>
                                                    } else {
                                                        <td>@pack.shipmentPackages.get(pack.shipmentPackages.size() - 1).postOfficeId.name</td>
                                                    }
                                                }
                                            }
                                        } else {
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        }

                                        <td>@pack.destination</td>

                                        <td><input type="checkbox" name="@pack.id" value="@pack.id">Take</td>
                                        }
                                    </tr>
                            </tbody>
                        </table>
                        <input type="submit" value="Take Packages" class="btn btn-primary"/>
                        <hr/>
                    </div>
                </div>
            </div>


            }
        </div>
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <h4 class="margin-bottom-15 breadcrumb">Delivery Worker Packages</h4>
                <table class="searchSortClass table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tracking Number</th>
                            <th>Sender Name</th>
                            <th>Recipient Name</th>
                            <th>Recipient Address</th>
                            <th>Status</th>
                            <th>Next Destination</th>
                            <th>Final Destination</th>
                            <th>Check</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(pack <- userPackagesForDelivery) {
                        <tr>
                            <td>@pack.id</td>
                            <td>@pack.trackingNum</td>
                            <td>@pack.senderName</td>
                            <td>@pack.recipientName</td>
                            <td>@pack.recipientAddress</td>
                            @if(pack.shipmentPackages.size() != 0) {
                                @for((shipmentFromThisPackage, i) <- pack.shipmentPackages.view.zipWithIndex) {
                                    @if(shipmentFromThisPackage.status == StatusHelper.READY_FOR_SHIPPING) {
                                        <td>@shipmentFromThisPackage.status</td>

                                        @if(i != pack.shipmentPackages.size() - 1) {
                                            <td>@pack.shipmentPackages.get(i + 1).postOfficeId.name</td>
                                        } else {
                                            <td>@pack.shipmentPackages.get(pack.shipmentPackages.size() - 1).postOfficeId.name</td>
                                        }
                                    }

                                }
                            } else {
                                <td></td>
                                <td></td>
                                <td></td>
                            }

                            <td>@pack.destination</td>

                            @helper.form(routes.PackageStatusController.updateStatus(pack.id), 'id -> "forma", 'class -> "form-horizontal", 'role -> "form") {
                                <td><button type="submit" class="btn-default">Done</button></td>
                            }
                        </tr>
                    }

                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div id="myPackagesDiv" class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <h4 class="margin-bottom-15 breadcrumb">My Transported Packages</h4>
                <table class="searchSortClass table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tracking Number</th>
                            <th>Sender Name</th>
                            <th>Recipient Name</th>
                            <th>Country</th>
                            <th>Recipient Address</th>
                            <th>Status</th>
                            <th>Initial Post Office</th>
                            <th>Final Destination</th>

                        </tr>
                    </thead>
                    <tbody>
                    @for(pack <- userPackages) {
                        <tr>
                            <td>@pack.id</td>
                            <td>@pack.trackingNum</td>
                            <td>@pack.senderName</td>
                            <td>@pack.recipientName</td>
                            <td>@pack.shipmentPackages.get(0).postOfficeId.country.countryName</td>
                            <td>@pack.recipientAddress</td>
                            @if(pack.shipmentPackages.size() != 0) {
                                @for((shipmentFromThisPackage, i) <- pack.shipmentPackages.view.zipWithIndex) {
                                    @if(i==0) {
                                        <td>@shipmentFromThisPackage.status</td>
                                        <td>@shipmentFromThisPackage.postOfficeId.name</td>
                                        @if(i == pack.shipmentPackages.size() - 1) {
                                            <td>@pack.shipmentPackages.get(pack.shipmentPackages.size() - 1).postOfficeId.name</td>
                                        }
                                    }
                                }
                            } else {
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            }
                            <td>@pack.destination</td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>

        </div>
    </div>




}