<!--modal for forgot password option-->
@()
<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h1 class="text-center">What's My Password?</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">

                                <p>If you have forgotten your password you can reset it here.</p>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <input name="forgotPasswordEmail" id="forgotPasswordEmail" type="email" class="form-control" placeholder="Please enter your registered email address">
                                        </div>
                                        <input id="sendPassword" class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                        <div class="col-md-12" style="margin-top : 35px">
                                            <span id="sendingError" style="font-size: 20px; color: #008000"><img src="@routes.Assets.versioned("images/loader.gif")" id="loaderId"></span>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
