@import helpers._

@(postOffices: List[PostOffice], office: PostOffice)
@adminmain("Link Offices") {

    <ol class="breadcrumb">
        <li><a href="@routes.Application.adminPanel()">Admin Panel</a></li>
        <li><a href="#">Manage Users</a></li>
        <li class="active">Link Offices</li>
    </ol>

    <h1>Link Offices</h1>

    <div class="row margin-bottom-30"></div>

    <div class="col-md-12">

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>Edit</th>
                    <th>Link To</th>
                </tr>
            </thead>
            <tbody>
            @helper.form(action = routes.PostOfficeController.savePostOffices()) {

                <tr>
                    <td>@office.id</td>
                    <td><input name="mainOfficeName" value="@office.name" type="text" style="background-color: transparent; border: 0px"/></td>
                    <td>@office.address</td>
                    <td><a href="@routes.PostOfficeController.postOfficeDetails(office.id)" class="btn btn-link"><button>Edit</button></a></td>
                    <td>
                    @for(postOffice <- postOffices) {

                        <input type="checkbox" name="@postOffice.name" value="@postOffice.name"> @postOffice.name <br>

                        }

                    </td>
                </tr>

            </tbody>
        </table>
            <input class="btn btn-primary" type="submit" value="Save Relations"/>
        }

        <ul class="pagination pull-right">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>

    </div>

}