@(loginMessage: String)
    @import helper._
    @main("Home Page") {
        <body style="height : 778 px">

            <div class="header">

                @helper.form(action = routes.UserController.check()) {
                    <div id="form01" class="header">Email:<br>
                        <input id="emailField" placeholder="Email required" type="email" name="email" required/><br>

                        <div id="form02" class="header">Password:<br>
                            <input id="passwordField" placeholder="Password" type="password" name="password" required/></div>
                    </div>

                    <input type="submit" class="submit01" value="Log In"/>

                } <a href="@routes.Application.register()"><input id="registrationButton" type="submit" value="Register"/></a>
                <div class="body_fix">

                    <div id="info01" class="body_fix">
                        Welcome to BIT-Tracking page <br/> <h1 style="color : #EB8D12">@loginMessage</h1></div>


                </div>
            </div>

        </body>
    }
