@import helpers.SessionHelper

@(title: String)(content: Html)(implicit currentUser: User = SessionHelper.getCurrentUser(ctx()))


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">

        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui-1.11.4/external/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/scripts.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui-1.11.4/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script language="JavaScript">
        function deleteCookies(){
             document.cookie = "email=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
        }
         </script>

    </head>
    <body>

        <div class="container"><!-- Main container contains all components-->

            <!--=============HEADER============== -->

            <div class="row"> <!--This row contains grid col 2 8-->
                <div class="col-md-2"> <!--Col-2 contains logo-->
                    <img alt="Bootstrap Image Preview" src="https://s3.amazonaws.com/lg-vectors/bitmaps/2096/6902.jpg">
                </div> <!--Ends logo col -->
                <div class="col-md-10"><!-- Starts navbar -->
                    <nav class="navbar navbar-default" role="navigation">
                            <!-- Home tab in navigation bar-->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">
                                    Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                            </button> <a class="navbar-brand" href="@routes.Application.index()">Home</a>
                        </div> <!-- End Home tab in navigation bar-->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                    <!-- =========My Bit Tracking dropdown in navigation bar========-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        My BT<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        @if(currentUser != null && currentUser.typeOfUser != UserType.ADMIN) {

                                            <li>
                                                <a href="@routes.UserController.userProfile(currentUser.id)">
                                                    My Profile</a>
                                            </li>

                                            <li>
                                                <a href="@routes.UserController.editProfile(currentUser.id)">
                                                    Edit Profile</a>
                                            </li>
                                        }
                                        <li>
                                            <a href="#">Option 3</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Option 4</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Option 5</a>
                                        </li>
                                    </ul>
                                </li> <!-- End My Bit Tracking dropdown in navigation bar-->

                                <!-- =====Shipping dropdown in navigation bar======-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Ship<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Action 2</a>
                                        </li>
                                        <li>
                                            <a href="#">Action 3</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Action 4</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Action 5</a>
                                        </li>
                                    </ul>
                                </li> <!-- End Shipping dropdown in navigation bar-->

                                <!-- Tracking tab in navigation bar-->
                                <li>
                                    <a href="@routes.Application.trackPackage()">Track</a>
                                </li> <!-- End Tracking tab in navigation bar-->

                                <!-- Location tab in navigation bar-->
                                <li>
                                    <a href="#">Locations</a>
                                </li> <!-- Ends Location tab in navigation bar-->


                                <!-- BT Solutions tab in navigation bar-->
                                <li>
                                    <a href="#">BT Solutions</a>
                                </li> <!-- Ends BT Solutions tab in navigation bar-->

                                <!-- SUPPORT Dropdown tab in navigation bar-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Support<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Action 2</a>
                                        </li>
                                        <li>
                                            <a href="#">Action 3</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Action 4</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Action 5</a>
                                        </li>
                                    </ul>
                                </li> <!-- ENDS SUPPORT Dropdown tab in navigation bar-->
                                <!-- Admin panel tab in navigation bar-->
                                @if(currentUser != null && currentUser.typeOfUser == UserType.ADMIN) {
                                    <li>
                                        <a href="@routes.Application.adminPanel()">Admin panel</a>
                                    </li> <!--Admin panel tab in navigation bar-->
                                }
                                @if(currentUser != null && currentUser.typeOfUser == UserType.OFFICE_WORKER) {
                                    <li>
                                        <a href="@routes.UserController.officeWorkerPanel()">Office Worker Panel</a>
                                    </li> <!--Admin panel tab in navigation bar-->
                                }

                                @if(currentUser != null && currentUser.typeOfUser == UserType.DELIVERY_WORKER) {
                                    <li>
                                        <a href="@routes.Application.deliveryWorkerPanel()">Delivery Worker Panel</a>
                                    </li> <!--Admin panel tab in navigation bar-->
                                }

                            </ul>

                                <!--=========== LOG IN REGISTER TAB in NAVIGATION BAR===========-->
                            @if(currentUser == null) {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="@routes.Application.register()">Register</a>
                                    </li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="@routes.Application.login()">Log In</a>
                                        } else {

                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>
                                            Sign Out</a>
                                    </li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="#" style="color: #ac2925; font-family: FontAwesome"><em>@currentUser.firstName</em></a>
                                    </li>
                                </ul>
                            }

                        </li>
                        </ul> <!--Ends LOG IN REGISTER TAB in NAVIGATION BAR-->

                            <!--SEARCH BAR
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input class="form-control" type="text">
                                </div>
                                <button type="submit" class="btn btn-default">
                                    Search
                                </button>
                            </form> ENDS SEARCH BAR-->
                        </div>
                    </nav>
                </div> <!-- Ends navbar-->
            </div> <!-- Ends row-->

            @content

                <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                                Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
                        </div>
                        <div class="modal-footer">
                            <a href="@routes.Application.logout()" class="btn btn-primary" onclick="deleteCookies()">Yes</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

                <!-- ==============FOOTER=================-->

            <div class="row">
                <hr>
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="container" style="font-size:x-small">
                                <address>
                                    <h3 style="font-size:14px"><strong>BIT Tracking</strong></h3> <br> Address: Sarajevo, Street: <br>
                                    Bosnia and Herzegovina, 71000<br> <abbr title="Phone">P:</abbr> (387) 000-000
                                </address>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="container">
                                <h3 style="font-size:14px">
                                    <strong> Custommer Support</strong>
                                </h3>
                                <button type="button" class="btn btn-link">
                                    Contact BIT Tracking
                                </button>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h3 style="font-size:14px">
                                <strong>New Customers</strong>
                            </h3>
                            <a href="@routes.Application.register()"><button type="button" class="btn btn-link btn-default">
                                Open an Account
                            </button> <br>
                            </a>

                        </div>

                        <div class="col-md-3">
                            <h3 style="font-size:14px">
                                <strong>Follow BIT Tracking</strong>
                            </h3>
                            <link href="">
                        </div>
                    </div>
                </div>
            </div> <!-- Ends footer-->

            <hr>

                <!-- ==============COPYRIGHT=================-->
            <div class="row">
                <div class="col-md-12">
                    <div class="container" style="text-align: center" >
                        <footer>
                            <p>Copyright &copy; 2015 BitTracking Team</p>
                        </footer>
                    </div>
                </div>
            </div> <!-- Ends copyright-->
        </div>



    </body>
</html>