@(packs: java.util.List[models.Package], workerOffice: PostOffice)(allPacks: List[models.Package])(offices: List[PostOffice])
    @adminmain("Office Worker Panel") {

        <ol class="breadcrumb">
            <li class="active">Office Worker Panel</li>
        </ol>
        <h2>Packages</h2>
        <hr/>

        <a href="@routes.PackageController.addPackage()"><button type="button" class="btn btn-primary btn-group-sm" data-toggle="modal">
            Add new package</button></a>
        <a id="approvalId" class="btn btn-info btn-group-sm" data-toggle="modal">
            Packages Waiting For Approval (@allPacks.size)</a>
        <a id="hideApproval" class="btn btn-info btn-group-sm" data-toggle="modal">
            Hide Packages Waiting For Approval</a>
        <hr/>

        <div id="waitingForApproval" class="table-responsive">
            <h4 class="margin-bottom-15">Packages Waiting For Approval at @workerOffice.name</h4>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Recipient Name</th>
                        <th>Recipient Address</th>
                        <th>Weight (kg)</th>
                        <th>Price (KM)</th>
                        <th>Approve/Reject</th>
                        <th>Initial Post Office</th>
                        <th>Destination Post Office</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                @for(pack <- allPacks) {
                    @if(pack.approved == null) {
                        @if(pack.shipmentPackages.get(0).postOfficeId.id==workerOffice.id){
                            <form action="@routes.PackageController.approveReject(pack.id)" method="post">
                                <tr>
                                    <td>@pack.recipientName</td>
                                    <td>@pack.recipientAddress</td>
                                    <td>@pack.weight</td>
                                    <td><input id="priceId" placeholder="Price in KM" name="price" value="" type="number" class="form-control" step="0.01" min="0.01" max="1000000">
                                    </td>
                                    <td><select name="approveReject" id="approveReject">
                                        <option value="default">Choose</option>
                                        <option value="approve">Approve</option>
                                        <option value="reject">Reject</option>
                                    </select></td>
                                    <td><input name="initialPostOffice" value="@workerOffice.name" type="text" style="background-color : transparent ; border : 0px" readonly/></td>
                                    <td><select name="destinationPostOffice" id="destinationPostOffice">
                                        <option value="default">Choose</option>
                                        @for(office <- offices) {
                                            @if(office != workerOffice) {
                                                <option value="@office.name">@office.name</option>
                                            }
                                        }
                                    </select></td>
                                    <td><input type="submit" value="Save"></td>
                                </tr>
                            </form>
                        }
                    }
                }

                </tbody>
            </table>
        </div>

        <h4 class="margin-bottom-15">List of packages</h4>
        <table class="searchSortClass table table-striped table-hover table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tracking Number</th>
                    <th>Sender Name</th>
                    <th>Recipient Name</th>
                    <th>Route</th>
                    <th>Destination</th>
                    <th>Post Office</th>
                    <th>Status</th>
                    <th>Timestamp</th>
                    <th>Change status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            @for(pack <- packs) {
                @if(pack.approved==true){
                <tr class="succes">
                    <td>@pack.id</td>
                    <td>@pack.trackingNum</td>
                    <td>"@pack.senderName"</td>
                    <td>"@pack.recipientName"</td>
                    @if(pack.shipmentPackages.size() < 2) {
                        <td><a href="@routes.PostOfficeController.listRoutes(pack.id)">Add Route</a></td>
                    } else {
                        <td>
                        @for(shipments: Shipment <- pack.shipmentPackages) {
                            @shipments.postOfficeId.name
                        }
                        </td>
                    }
                    <td>@pack.destination</td>
                    @if(pack.shipmentPackages.size() != 0) {
                        @for((shipmentFromThisPackage, i) <- pack.shipmentPackages.view.zipWithIndex) {
                            @if(shipmentFromThisPackage.postOfficeId.id == workerOffice.id) {
                                <td>@shipmentFromThisPackage.postOfficeId.name</td>
                                <td>@shipmentFromThisPackage.status</td>
                                @if(shipmentFromThisPackage.dateCreated != null) {
                                    <td>@shipmentFromThisPackage.dateCreated</td>
                                } else {
                                    <td></td>
                                }
                                @if(shipmentFromThisPackage.status == helpers.StatusHelper.RECEIVED) {
                                    @helper.form(routes.PackageStatusController.updateStatus(pack.id), 'id -> "forma", 'class -> "form-horizontal", 'role -> "form") {
                                        <td><button type="submit" class="btn-default">Done</button></td>
                                    }

                                } else {
                                    <td></td>
                                }
                                @if(shipmentFromThisPackage.status == helpers.StatusHelper.DELIVERED) {
                                    <td><a data-role="delete" data-delete-parent="tr" href="@routes.PackageController.deletePackage(pack.id)" role="button"><input class="btn-link" type="button" value="Delete"></a></td>
                                } else {
                                    <td></td>
                                }
                            }
                        }

                    }
                </tr>
                }
            }

            </tbody>
        </table>

    }