@import helpers.PackageType
@import helpers.SessionHelper

@(offices: List[PostOffice])(places: List[Location])(text: Form[models.Package])(implicit currentUser: User = SessionHelper.getCurrentUser(ctx()))
@adminmain("Add Package") {
    <div class="container-fluid">
            <!--Register title row -->
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Add Package
                </h3><br/>
                <h5>This form is used to schedule a shipment with Bit Tracking. Fill out the form and click "Add Package" to obtain rate information for this shipment.</h5>
                <br/>
            </div>
        </div> <!--End register title  row-->

        <div class="col-md-12">
        @if(flash.containsKey("wrongFormatBoth")) {
            <div class="alert alert-danger col-md-12">
                <b style="font-size : 18px ; color : red"><center>@flash.get("wrongFormatBoth")</center></b>
            </div>
        }
        </div>

            <!--=======Form row============ -->
        <div class="row">

        @helper.form(action = routes.PackageController.savePackage(), 'class -> "form-horizontal", 'role -> "form") {

                <!--Starts Origination-->
            <div class="col-md-6">
                <fieldset>
                    <legend><h5 style="color: #419641"><strong>Origination</strong></h5></legend>

                    <div class="form-group col-md-12">
                        <label for="senderName" class="col-sm-3" style="font-size: 12px">
                            Sender's Name:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-sm-9">
                            <input placeholder="" name="senderName" type="text" class="form-control" id="senderName" required="required" value="@text("senderName").value">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="postOffices" class="col-sm-3" style="font-size: 12px">
                            Initial Post Office:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-md-5">
                        @if(currentUser.typeOfUser == UserType.ADMIN) {
                            <select id="initialOffice" class="form-control sortAlphabetically" name="officePost" required="required">
                                <option>--Select one--</option>
                                @for(office <- offices) {
                                    <option value="@office.address">@office.name</option>
                                }
                            </select>
                        } else {
                            <div class="form-group">
                                <input class="form-control" value="@currentUser.postOffice.name" id="postOffices" name="initialOffice" type="text" readonly/>
                            </div>

                        </div>

                    </div>

                    <div class="form-group col-md-12">
                        <label for="initialOffice" class="col-sm-3" style="font-size: 12px">
                            Address:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-md-5">
                            <input class="form-control" value="@currentUser.postOffice.address" id="initialOffice" name="officePost" type="text" readonly/>
                        </div>
                    </div>
                    }
                    <span id="wrongInitialOffice" class="alert-danger" data-error-for="" >@flash.get("wrongInitialOffice")</span>
                </fieldset>

            </div>
            <div class="col-md-6">
                    <!--Start origination-->
                <fieldset>
                    <legend ><h5 style="color: #419641"><strong>Destination</strong></h5></legend>
                    <div class="form-group col-md-12">
                        <label for="recipientName" class="col-sm-3" style="font-size: 12px">
                            Recipient's Name:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-sm-9">
                            <input name="recipientName" type="text" class="form-control" id="recipientName" required="required" value="@text("recipientName").value">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="recipientAddress" class="col-sm-3" style="font-size: 12px">
                            Recipient's Address:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-sm-9">
                            <input name="recipientAddress" type="text" class="form-control" id="recipientAddress" required="required" value="@text("recipientAddress").value">
                        </div>
                    </div>


                    <div class="form-group col-md-12">
                        <label for="destination" class="col-sm-3" style="font-size: 12px">
                            Final Post Office:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-md-5">
                            <select id="finalOffice" class="form-control sortAlphabetically" name="destination" required="required">
                                <option class="default">--Select one--</option>
                                @for(office <- offices) {
                                    @if(currentUser.postOffice !=null){
                                        @if(currentUser.postOffice.id != office.id){
                                            <option value="@office.name">@office.name</option>
                                        }
                                    }else {
                                        <option value="@office.name">@office.name</option>
                                    }
                                }
                            </select>
                        </div>
                        <span id="wrongFinalOffice" class="alert-danger" data-error-for="" >@flash.get("wrongFinalOffice")</span>
                    </div></fieldset>
            </div> <!--ends Destionation-->

        </div> <!--Ends origination-->

        <!--Starts Service Options-->
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend><h5 style="color: #419641"><strong>Service Options</strong></h5></legend>
                    <div class="form-group col-md-12">
                        <label for="weight" class="col-sm-3" style="font-size: 12px">
                            Package Weight:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-sm-9">
                            <input placeholder="Weight in kg" name="weight" value="@text("weight").value" type="number" class="form-control" id="weight" required="required" step="0.01" min="0.01" max="20000">
                        </div>
                    </div>

                    <div class="form-group col-md-12" hidden>
                        <label for="price" class="col-sm-3" style="font-size: 12px">
                            Package Price:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-sm-9">
                            <input placeholder="Price in KM" name="price" value="@text("price").value" type="number" class="form-control" id="price" step="0.01" min="0.01" max="1000000">
                        </div>
                    </div>


                    <div class="form-group col-md-12">
                        <label for="packageType" class="col-sm-3" style="font-size: 12px">
                            Type of Package:<abbr class="req" title="required"> *</abbr>
                        </label>
                        <div class="col-sm-5">
                            <select class="form-control" name="packageType">
                                <option class="default">--Select one--</option>
                                <option value="@PackageType.BOX">@PackageType.BOX</option>
                                <option value="@PackageType.ENVELOPE">@PackageType.ENVELOPE</option>
                                <option value="@PackageType.FLYER">@PackageType.FLYER</option>
                                <option value="@PackageType.TUBE">@PackageType.TUBE</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend><h5 style="color: #419641"><strong>Route Options</strong></h5></legend>

                    <div class="form-group col-sm-9 pull-right col-md-offset-3">
                            <input id="clickMe" type="button" class="btn btn-primary" value="Suggest Route"/>
                            <input id="enableRouteButton" type="button" class="btn btn-success" value="Enable Route"/>
                            <input id="disableRouteButton" type="button" class="btn btn-danger" value="Disable Route"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="distanceBetweenOffices" class="col-sm-3" style="font-size: 12px">
                            Distance:
                        </label>
                        <div class="col-sm-9">
                            <input id="distanceBetweenOffices" placeholder="Distance between Post Offices" name="distanceBetweenOffices" value="" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="tripDurationBetweenOffices" class="col-sm-3" style="font-size: 12px">
                            Duration:
                        </label>
                        <div class="col-sm-9">
                            <input id="tripDurationBetweenOffices" placeholder="Travel duration between Post Offices" name="tripDurationBetweenOffices" value="" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="routeOffices" class="col-sm-3" style="font-size: 12px">
                            Route:
                        </label>
                        <div class="col-sm-9">
                            <input id="routeOffices" name="routeOffices" value="" type="text" class="form-control" readonly>
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5" style="margin-bottom : 3%;">
                <input id="addPackageButton" type="submit" class="btn btn-primary" value="Add Package">
            </div>
        </div>

    }
        <div>
            <input id="loc" type="hidden" value="@places.toString()">
        </div>


        <div class="templatemo-maps">
            <div class="row">
                <div class="col-md-12 margin-bottom-30">
                    <div id="map" style="position: relative; height: 700px; width: auto"></div>

                    <script type="text/javascript">
    $('#addPackageButton').prop('disabled', true);

     var map;
     var i, marker;
     var polys = new Array();
     var jot=0;
     var myPolygons=new Array();
     var officeNames=[];
     var officeAddresses=[];

function initialize(){
        map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: new google.maps.LatLng(43.8331, 18.3039),
        mapTypeId: google.maps.MapTypeId.ROADMAP
     });
// Construct a new InfoWindow.
     var list = document.getElementById("loc").value;

     @for(place <- places) {
         marker = new google.maps.Marker({
            position: new google.maps.LatLng(@place.y
                        , @place.x),
            map: map
         });
     }
}
function showMap(resp){

        var initial = resp[0];
        initial = initial.replace('[','');
        initial = initial.trim();
        var final = resp[resp.length-1];
        final = final.replace(']','');
        final = final.trim();
        var finalAddress = "";
        var waypointOffices = [];
        for(var i =0;i<resp.length;i++){
            if(i!==0 && i!==resp.length-1){

                waypointOffices.push(resp[i].trim());
            }
        }

         var waypointsFromRoute = [];
         var officesFromWaypoints = [];
         var officesFromWaypointsAddress = [];
        google.maps.event.addDomListener(window, 'resize', function() {
        map.setCenter(marker.getPosition());
        });

        @for(office <- offices) {
            var officeName="@office.name";
            var officeAddress="@office.address";
            if(initial === officeName){
                initial = officeAddress;

            }

            if(final === officeName){
                finalAddress  = officeAddress;

            }
            if(officeName!==initial && final!==officeName){

                for(var i =0;i<waypointOffices.length;i++){

                    if(waypointOffices[i] === officeName){
                        officesFromWaypoints.push(officeName);
                        officesFromWaypointsAddress.push(officeAddress);
                    }
                }
            }
        }
        var finalOfficesFromWaypoints = [];
        for(var i =0;i<waypointOffices.length;i++){
            for(var j=0;j<officesFromWaypoints.length;j++){
                if(waypointOffices[i] === officesFromWaypoints[j]){
                    finalOfficesFromWaypoints.push(officesFromWaypoints[j]);
                    waypointsFromRoute.push({
                    location: officesFromWaypointsAddress[j],
                    stopover: true
                    });
                }
            }

        }

        var directionsService = new google.maps.DirectionsService();

        var renderOptions = { draggable: true };
        var directionDisplay = new google.maps.DirectionsRenderer(renderOptions);

        //set the directions display service to the map
        directionDisplay.setMap(map);

        //set the starting address and destination address
        var originAddress = initial;
        var destinationAddress = finalAddress;
        //build directions request
        var request = {
            origin: originAddress,
            destination: destinationAddress,
            provideRouteAlternatives: true,
            waypoints: waypointsFromRoute, //an array of waypoints
            optimizeWaypoints: true, //set to true if you want google to determine the shortest route or false to use the order specified.
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };

        //get the route from the directions service
directionsService.route(request, function (response, status) {
    if(status == google.maps.DirectionsStatus.OK) {

        for (var i = 0, len = response.routes.length; i < len; i++) {
                new google.maps.DirectionsRenderer({
                    map: map,
                    directions: response,
                    routeIndex: i
                });
           }

        var txt = "";
        @if(currentUser.typeOfUser==UserType.ADMIN) {
            txt = $("#initialOffice option:selected").text();
        }else{
            txt = $("#postOffices").val();
        }
        var routeString = txt+"|";
        for(var i=0;i<finalOfficesFromWaypoints.length;i++){
                routeString+=finalOfficesFromWaypoints[i]+"|";
            }
        routeString+=final+"|";
        $("#routeOffices").val(routeString);
        var totalDistance = 0;
        var totalDuration = 0;
        var legs = response.routes[0].legs;
        for(var i=0; i<legs.length; i++) {
            totalDistance = totalDistance + legs[i].distance.value;
            totalDuration += legs[i].duration.value;
        }
        $("#distanceBetweenOffices").val((totalDistance/1000).toFixed(2)+" km");
        $("#tripDurationBetweenOffices").val(totalDuration/60/60/24);
    }else{
        window.alert('There is no available route for these Post Offices!');
    }
});
}

$("#clickMe").click( function(){

        @if(currentUser.typeOfUser==UserType.ADMIN) {
        var initialOfficeName = $("#initialOffice option:selected").text();
        }else {
         var initialOfficeName = document.getElementById("postOffices").value;
        }

    var destinationOfficeName = document.getElementById("finalOffice").value;

    $.ajax({
    url: "/adminpanel/getoffices/getdijkstra",
    method: "POST",
    data: "initial=" + initialOfficeName+"&destination="+destinationOfficeName
    }).success(function (response) {
        var resp = response.split(",")

        if(resp.length===1){
        bootbox.alert('There is no available route for these Post Offices!');
        }
        initialize();
        showMap(resp);
        $('#addPackageButton').prop('disabled', false);
    })
});
google.maps.event.addDomListener(window, 'load', initialize);
  </script>
                </div>
            </div>
        </div>
    </div>
}
