@import helpers.SessionHelper

@(offices: List[PostOffice])(text: Form[models.Package])(implicit currentUser: User = SessionHelper.getCurrentUser(ctx()))
    @adminmain("Add Package") {
        <div class="container-fluid">
                <!--Register title row -->
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Add Package
                    </h3>
                    <br/>
                </div>
            </div> <!--End register title  row-->

            <!--=======Form row============ -->
            <div class="row">
                <div class="col-md-12">

                @helper.form(action = routes.PackageController.savePackage(), 'class -> "form-horizontal", 'role -> "form") {

                    <div class="form-group">

                        <label for="Destination" class="col-sm-2 control-box">
                            Recipient Address:
                        </label>
                        <div class="col-sm-10">
                            <input name="destination" type="text" class="form-control" id="destination" required="required">
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="weight" class="col-sm-2 control-box">
                            Weight (kg):
                        </label>
                        <div class="col-sm-10">

                            <input name="weight" value="@text("weight").value" type="text" class="form-control" id="weight" required="required">
                            <span id="both" class="alert-danger" data-error-for="" >@flash.get("wrongFormatBoth")</span>

                        </div>
                    </div>

                    <div class="form-group">

                        <label for="price" class="col-sm-2 control-box">
                            Price (KM):
                        </label>
                        <div class="col-sm-10">

                            <input name="price" value="@text("price").value" type="text" class="form-control" id="price" required="required">
                            <span id="both1" class="alert-danger" data-error-for="" >@flash.get("wrongFormatBoth")</span>

                        </div>
                    </div>

                    <div class="form-group">

                        <label for="postOffices" class="col-sm-2 control-box">
                            Initial Post Office:
                        </label>
                        <div class="col-md-2">
                            @if(currentUser.typeOfUser==UserType.ADMIN) {
                                <select name="officePost" required="required">
                                @for(office <- offices) {
                                    <option value="@office.name">@office.name</option>
                                }
                                </select>
                            }else{
                                <input class="form-control" value="@currentUser.postOffice.name" id="postOffices" name="officePost" type="text" readonly/>
                            }
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" style="margin-bottom: 3%">

                    <input type="submit" class="btn btn-primary" value="Add Package">

                </div>
            </div>

            <div class="templatemo-maps">
                <div class="row">
                    <div class="col-md-12 col-sm-12 margin-bottom-30">
                        <div id="map" style="position: relative; height: 700px; width: auto"></div>



                        <script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: new google.maps.LatLng(43.8331, 18.3039),
      mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var geocoder = new google.maps.Geocoder();

   var marker;
  document.getElementById('destination').addEventListener('blur', function() {
    geocodeAddress(geocoder, map);
  });
    function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('destination').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
       marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location,
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
    map.addListener('center_changed', function() {
    // 3 seconds after the center of the map has changed, pan back to the marker
    window.setTimeout(function() {
      map.panTo(marker.getPosition());
    }, 3000);
  });
    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'resize', function() {
    map.setCenter(marker.getPosition());
    });
  </script>
                    </div>
                </div>
            </div>



        }

        </div>


    }