@(pack: models.Package)
@adminmain("Package Info") {

    <ol class="breadcrumb">
        <li class="active">Package Info</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <h3>
                Check Package Code
            </h3>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
        @if(flash.containsKey("incorrectCode")) {
            <div class="alert alert-danger col-md-12">
                <b style="font-size : 18 px ; color : red"><center>@flash.get("incorrectCode")</center></b>
            </div>
        }
        </div>
    </div>
    @helper.form(action = routes.PackageController.checkPackageCode(pack.id), 'class -> "form-horizontal", 'role -> "form") {

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group">
                        <label for="idPackage" class="col-sm-3">
                            Package ID:
                        </label>
                        <div class="col-sm-3">
                            <input name="idPackage" value="@pack.id" type="text" class="form-control" id="idPackage" disabled>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="senderName" class="col-sm-3 control-box">
                            Sender Name:
                        </label>
                        <div class="col-sm-3">
                            <input name="senderName" value="@pack.senderName" type="text" class="form-control" id="senderName" disabled>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="recipientName" class="col-sm-3 control-box">
                            Recipient Name:
                        </label>
                        <div class="col-sm-3">
                            <input name="recipientName" value="@pack.recipientName" type="text" class="form-control" id="recipientName" disabled>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="destinationPostOffice" class="col-sm-3 control-box">
                            Destination Post Office:
                        </label>
                        <div class="col-sm-3">
                            <input name="destinationPostOffice" value="@pack.destination" type="text" class="form-control" id="destinationPostOffice" disabled>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">

                        <label for="packagePinCode" class="col-sm-3 control-box">
                            Package Code:
                        </label>
                        <div class="col-sm-3">
                            <input name="packagePinCode" placeholder="Enter Package Code" value="" type="number" class="form-control" id="packagePinCode" required>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-inline col-sm-offset-3 col-sm-3 ">
                        <input value="Check Package Code" type="submit" class="btn btn-primary active">
                        <a class="btn btn-info active" id="#button-back" style="margin-left : 4 %" href="@routes.WorkerController.officeWorkerPanel()">
                            Cancel</a>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
    }
}