@import helpers.PackageType
@(postOffices: List[PostOffice], users: List[User], packs: java.util.List[models.Package])
@import helper._
@main("BIT Tracking Statistics") {
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                    <!--=================Starts tab==================-->
                <div class="tabbable" id="tabs">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#panel-package" data-toggle="tab">Packages</a>
                        </li>

                        <li class="active">
                            <a href="#panel-user" data-toggle="tab">Users</a>
                        </li>

                        <li>
                            <a href="#panel-postoffice" data-toggle="tab">Post Offices</a>
                        </li>

                        <li>
                            <a href="#panel-chart" data-toggle="tab">Chart</a>
                        </li>

                    </ul>
                        <!--Ends tab-->

                        <!--Starts tab content-->
                    <div class="tab-content">


                            <!--======================PACKAGE STATISTICS======================-->
                        <div class="tab-pane" id="panel-package">
                            @if(!packs.isEmpty) {
                                <h4>@Messages("Current Package Statistics")</h4> <br>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>BIT Tracking Package Statistic </th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="background-color: #DFDFDF"><strong>Statistic by Package Type</strong></td>
                                            <td style="background-color: #DFDFDF"><strong></strong></td>
                                        </tr>

                                        <tr>
                                            <td>Current number of boxes</td>
                                            <td>@Statistic.createPackageBoxStatistic().size()</td>
                                        </tr>

                                        <tr>
                                            <td>Current number of envelopes</td>
                                            <td>@Statistic.createPackageEnvelopeStatistic().size()</td>
                                        </tr>


                                        <tr>
                                            <td>Current number of flyers</td>
                                            <td>@Statistic.createPackageFlyerStatistic().size()</td>
                                        </tr>

                                        <tr>
                                            <td>Current number of tubes</td>
                                            <td>@Statistic.createPackageTubeStatistic().size()</td>
                                        </tr>

                                        <tr>
                                            <td style="background-color: #DFDFDF"><strong>Statistic by Package Status</strong></td>
                                            <td style="background-color: #DFDFDF"></td>
                                        </tr>

                                        <tr>
                                            <td>Number of delivered packages</td>
                                            <td>@Statistic.createPackageDeliveredStatistics().size()</td>
                                        </tr>

                                        <tr>
                                            <td>Number of packaces with status "On Route"</td>
                                            <td>@Statistic.createPackageOnRouteStatistics().size()</td>
                                        </tr>


                                        <tr>
                                            <td>Number of packages with status "Out For Delivery"</td>
                                            <td>@Statistic.createPackageOutForDeliveryStatistics().size()</td>
                                        </tr>

                                        <tr>
                                            <td>Number of packages with status "Ready For Shipping"</td>
                                            <td>@Statistic.createPackageReadyForShippStatistics().size()</td>
                                        </tr>

                                        <tr>
                                            <td>Number of received packages</td>
                                            <td >@Statistic.createPackageReceivedStatistics().size()</td>
                                        </tr>

                                        <tr>
                                            <td>Total number of packages</td>
                                            <td >@Statistic.createPackageStatistic().size()</td>
                                        </tr>

                                        <tr>
                                            <td>Number of BIT Tracking routes</td>
                                            <td ></td>
                                        </tr>

                                        } else {
                                <div class="alert-info"><h4> @Messages("There are no packages in database. ")</h4></div>
                            }
                                    </tbody>
                                </table>
                        </div> <!--end of package statistic-->


                        <script type="text/javascript">

                            google.load('visualization', '1', {packages: ['corechart', 'bar']});
google.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = google.visualization.arrayToDataTable([
        ['BIT Tracking Package Statistic ', 'Data'],
        ['Box', @Statistic.createPackageBoxStatistic().size()],
        ['Envelope', @Statistic.createPackageEnvelopeStatistic().size()],
        ['Flyer', @Statistic.createPackageFlyerStatistic().size()],
        ['Tube', @Statistic.createPackageTubeStatistic().size()],
      ]);

      var options = {
        title: 'BIT Tracking Statistic By Package Type',
        chartArea: {width: '50%'},
        hAxis: {
          title: 'Total Number Of Packages',
          minValue: 0
        },
        vAxis: {
          title: 'Type Of Package'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_packagetype'));

      chart.draw(data, options);
    }

                        </script>

                        <br>
                        <div id="chart_packagetype"></div>
                        <br><br><br>
<!--==========================JS Google API Chart for Statistic By Package status=========================-->
                        <script type="text/javascript">

                            google.load('visualization', '1', {packages: ['corechart', 'bar']});
google.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = google.visualization.arrayToDataTable([
        ['BIT Tracking Package Statistic ', 'Data',{ role: 'style' }],
        ['On Route', @Statistic.createPackageOnRouteStatistics().size(),'color: gray'],
        ['Out For Delivery', @Statistic.createPackageOutForDeliveryStatistics().size(),'color: #76A7FA'],
        ['Ready For Shipping', @Statistic.createPackageReadyForShippStatistics().size(),'opacity: 0.2'],
        ['Received', @Statistic.createPackageReceivedStatistics().size(),'stroke-color: #703593; stroke-width: 4; fill-color: #C5A5CF'],
        ['Delivered', @Statistic.createPackageDeliveredStatistics().size(),'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2']
      ]);

      var options = {
        title: 'BIT Tracking Statistic By Package Status',
        chartArea: {width: '50%'},
        hAxis: {
          title: 'Total Number Of Packages',
          minValue: 0
        },
        vAxis: {
          title: 'Package Status'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_packagestatus'));

      chart.draw(data, options);
    }

                        </script>
                        <div id="chart_packagestatus"></div>

                            <!--======================USER STATISTICS======================-->

                        <div class="tab-pane active" id="panel-user">
                            <div style="padding-top : 6 %">
                                <b><h4>Statistic by BIT Tracking Users Type</h4></b><br>
                                <p>Statistics on BIT Tracking users. This table shows current number of admins, delivery workers, office workers, registered users and total number of users as well.</p>
                                <p>Statistics on BIT Tracking users. This table shows current number of admins, delivery workers, office workers, registered users and total number of users as well.</p>
                                <p>Statistics on BIT Tracking users. This table shows current number of admins, delivery workers, office workers, registered users and total number of users as well.</p>
                            </div><br><br>


                            <div class="row">
                                <div class="col-sm-5 table-responsive" style="padding-top : 8 %">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="background-color:#DFDFDF"><strong>@Messages("User")</strong></th>
                                                <th style="background-color:#DFDFDF"><strong>@Messages("BT Statistic")</strong></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td><strong>Admins</strong></td>
                                                <td>@Statistic.createAdminStatistic().size()</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Delivery Workers</strong></td>
                                                <td>@Statistic.createDeliveryWorkerStatistic().size()</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Office Workers</strong></td>
                                                <td>@Statistic.createOfficeWorkerStatistic().size()</td>
                                            </tr>

                                            <tr>
                                                <td><strong>Registerd Users</strong></td>
                                                <td>@Statistic.createRegistersUsersStatistic().size()</td>
                                            </tr>

                                            <tr>
                                            <td><strong>Number of BIT Tracking employees</strong></td>
                                            <td>@Statistic.createEmployeesStatistic().size()</td>
                                            </tr>


                                            <tr>
                                                <td style="background-color:#DFDFDF; color: #b92c28; margin-left : 1.7 %"><strong>
                                                    Total number of users</strong></td>
                                                <td style="background-color:#DFDFDF; color: #b92c28; margin-left : 1.7 %"><strong>@Statistic.createUserStatistic().size()</strong></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load("visualization", "1.0", {packages:["corechart"]});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.arrayToDataTable([
          ['User', 'BT Statistic'],
          ['Admins',@Statistic.createAdminStatistic().size()],
          ['Delivery workers', @Statistic.createDeliveryWorkerStatistic().size()],
          ['Office workers', @Statistic.createOfficeWorkerStatistic().size()],
          ['Registered user', @Statistic.createRegistersUsersStatistic().size()],
          ['Employees', @Statistic.createEmployeesStatistic().size()]
        ]);
        console.log("nesto");

        // Set chart options
        var options = {title:'BIT Tracking Users',
                         is3D: true,
                                forceIFrame: true,
                                width: 700,
                                height: 500,
                                pieSliceText: 'percentage',
                                pieSliceTextStyle: {
                                    color: "black",
                                    fontSize: 16}
                                    };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('userchart'));
        chart.draw(data, options);
      }
    </script>
                                <div class="col-sm-offset-1 col-sm-6 pull-right" style="padding-top : 1%">
                                    <div id="userchart"></div>
                                </div>

                            </div>
                        </div> <!--end of user statistic-->


                        <!--======================POST OFFICE STATISTICS======================-->
                        <div class="tab-pane" id="panel-postoffice">
                            @if(!postOffices.isEmpty) {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="background-color:#DFDFDF"><strong>@Messages("Post Office Name")</strong></th>
                                            <th style="background-color:#DFDFDF"><strong>@Messages("Number of Linked Offices")</strong></th>
                                            <th style="background-color:#DFDFDF"><strong>@Messages("Total number of Packages")</strong></th>
                                            <th style="background-color:#DFDFDF"><strong>@Messages("Total number of Active Routes")</strong></th>
                                            <th style="background-color:#DFDFDF"><strong>@Messages("Total number of Office Workers")</strong></th>
                                            <th style="background-color:#DFDFDF"><strong>@Messages("Total number of Delivery Workers")</strong></th>

                                        </tr>
                                    </thead>


                                    <tbody>
                                        @for(postOffice <- postOffices) {
                                            <tr>
                                                <td>@postOffice.name</td>
                                                <td>@postOffice.postOfficesA.size()</td>
                                                <td>@Statistic.packageByPostOffice(postOffice)</td>
                                                <td>@Statistic.getNumOfRoutes(postOffice)</td>
                                                <td>@Statistic.officeWorkerByPostOffice(postOffice)</td>
                                                <td>@Statistic.deliveryWorkerByPostOffice(postOffice)</td>
                                            </tr>
                                        }
                                    } else {
                                <div class="alert-info"><h4> @Messages("There are no post offices in database. ")</h4></div>
                            }
                        </tbody>
                        </table>
                        </div> <!--end of package statistic--><!--end of post office statistic-->



                        <!--======================CHART STATISTICS======================-->

                        <div class="tab-pane" id="panel-chart">

                            <h2>CHARTTTTT</h2>
                        </div>



                    </div><!--Ends tab content-->


                </div>
            </div>
        </div>
    </div>


}