@import helpers.PackageType
@(postOffices: List[PostOffice], users: List[User], packs: java.util.List[models.Package])
@import helper._
@main("BIT Tracking Statistics") {
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                    <!--=================Starts tab==================-->
                <div class="tabbable" id="tabs">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#panel-package" data-toggle="tab">Packages</a>
                        </li>

                        <li class="active">
                            <a href="#panel-user" data-toggle="tab">Users</a>
                        </li>

                        <li>
                            <a href="#panel" data-toggle="tab">Post Offices</a>
                        </li>

                        <li>
                            <a href="#panel-chart" data-toggle="tab">Chart</a>
                        </li>

                    </ul>
                        <!--Ends tab-->

                        <!--Starts tab content-->
                    <div class="tab-content">


                            <!--======================PACKAGE STATISTICS======================-->
                        <div class="tab-pane" id="panel-package">
                            @if(!packs.isEmpty) {
                                <h4>@Messages("Current Package Statistics")</h4> <br>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th data-sortable="true">Package</th>
                                            <th data-sortable="true">Statistics</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="succes">
                                            <td>Package Type</td>
                                            <td>BOX</td>
                                            <td>@Statistic.createPackageBoxStatistic().size()</td>
                                        </tr>

                                        <tr class="succes">
                                            <td>ENVELOPE</td>
                                            <td>@Statistic.createPackageEnvelopeStatistic().size()</td>
                                        </tr>


                                        <tr class="succes">
                                            <td>FLYER</td>
                                            <td>@Statistic.createPackageFlyerStatistic().size()</td>
                                        </tr>

                                        <tr class="succes">
                                            <td>TUBE</td>
                                            <td>@Statistic.createPackageTubeStatistic().size()</td>
                                        </tr>

                                        <tr class="succes">
                                            <td>Package Status</td>
                                            <td>DELIVERED</td>
                                            <td>@Statistic.createPackageDeliveredStatistics().size()</td>
                                        </tr>

                                        <tr class="succes">
                                            <td>ON ROUTE</td>
                                            <td>@Statistic.createPackageOnRouteStatistics().size()</td>
                                        </tr>


                                        <tr class="succes">
                                            <td>OUT FOR DELIVERY</td>
                                            <td>@Statistic.createPackageOutForDeliveryStatistics().size()</td>
                                        </tr>

                                        <tr class="succes">
                                            <td>READY FOR SHIPPING</td>
                                            <td>@Statistic.createPackageReadyForShippStatistics().size()</td>
                                        </tr>

                                        <tr class="succes">
                                            <td>RECEIVED</td>
                                            <td >@Statistic.createPackageReceivedStatistics().size()</td>
                                        </tr>

                                        } else {
                                <div class="alert-info"><h4> @Messages("There are no packages in database. ")</h4></div>
                            }
                                    </tbody>
                                </table>
                        </div> <!--end of package statistic-->

                            <!--======================USER STATISTICS======================-->

                        <div class="tab-pane active" id="panel-user">
                            <div style="padding-top : 6 %">
                                <b><h4>Statistic by BIT Tracking Users Type</h4></b><br>
                                <p>Statistics on BIT Tracking users. This table shows current number of admins, delivery workers, office workers, registered users and total number of users as well.</p>
                                <p>Statistics on BIT Tracking users. This table shows current number of admins, delivery workers, office workers, registered users and total number of users as well.</p>
                                <p>Statistics on BIT Tracking users. This table shows current number of admins, delivery workers, office workers, registered users and total number of users as well.</p>
                            </div><br><br>


                            <div class="row">
                                <div class="col-sm-5 table-responsive" style="padding-top : 8 %">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="background-color : steelblue ; color : snow"><strong>@Messages("User")</strong></th>
                                                <th style="background-color : steelblue ; color : snow"><strong>@Messages("BT Statistic")</strong></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td><strong>Admins</strong></td>
                                                <td>@Statistic.createAdminStatistic().size()</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Delivery Workers</strong></td>
                                                <td>@Statistic.createDeliveryWorkerStatistic().size()</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Office Workers</strong></td>
                                                <td>@Statistic.createOfficeWorkerStatistic().size()</td>
                                            </tr>

                                            <tr>
                                                <td><strong>Registerd Users</strong></td>
                                                <td>@Statistic.createRegistersUsersStatistic().size()</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color : #E8B03F ; margin-left : 1.7 %"><strong>
                                                    Total number of users</strong></td>
                                                <td style="background-color : #E8B03F ; margin-left : 1.7 %"><strong>@Statistic.createUserStatistic().size()</strong></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load("visualization", "1.0", {packages:["corechart"]});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.arrayToDataTable([
          ['User', 'BT Statistic'],
          ['Admins',@Statistic.createAdminStatistic().size()],
          ['Delivery workers', @Statistic.createDeliveryWorkerStatistic().size()],
          ['Office workers', @Statistic.createOfficeWorkerStatistic().size()],
          ['Registered user', @Statistic.createRegistersUsersStatistic().size()]
        ]);
        console.log("nesto");

        // Set chart options
        var options = {title:'BIT Tracking Users',
                         is3D: true,
                                forceIFrame: true,
                                width: 700,
                                height: 500,
                                pieSliceText: 'percentage',
                                pieSliceTextStyle: {
                                    color: "black",
                                    fontSize: 16}
                                    };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
                                <div class="col-sm-offset-1 col-sm-6 pull-right" style="padding-top : 1 %">
                                    <div id="piechart"></div>
                                </div>

                            </div>
                        </div> <!--end of user statistic-->



                        <!--======================POST OFFICE STATISTICS======================-->
                        <div class="tab-pane" id="#panel">
                            <div style="padding-top : 6 %">
                                <b><h4>Statistic by BIT Tracking</h4></b><br>
                                <p>POST OFFICEEE on BIT Tracking</p>
                                <p>TEST</p>
                            </div><br><br>
                        </div> <!--end of post office statistic-->



                        <!--======================CHART STATISTICS======================-->

                        <div class="tab-pane" id="chart">

                            <h2>CHARTTTTT</h2>
                        </div>



                    </div><!--Ends tab content-->


                </div>
            </div>
        </div>
    </div>


}