@(user: User)
@import helper._
@main("Edit your profile") {

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>User Profile </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                        <!--======IMAGE UPLOAD========-->
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                                    <h6>Profile photo</h6>

                                </div>
                            </div>
                        </div>

                    </div> <!--Ends Image upload-->
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-md-12">



                                <div class="form-group">

                                    <label for="firstName" class="col-sm-2 control-label">
                                        First Name:
                                    </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                                            <input type="text" name="firstName" disabled class="form-control" id="firstName" value="@user.firstName" required="required">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="lastName" class="col-sm-2 control-label">
                                        Last Name:
                                    </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                                            <input type="text" name="lastName" disabled class="form-control" id="lastName" value="@user.lastName" required="required">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="email" class="col-sm-2 control-label" >
                                        Email:
                                    </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>

                                            <input name="email" disabled type="email" class="form-control" value="@user.email">

                                        </div>
                                    </div>
                                </div>
                                @helper.form(action = routes.UserController.updateUserType(user.id), 'class -> "form-horizontal", 'role -> "form") {
                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3">
                                        <div class="well carousel-search hidden-sm">

                                            <select name="userType">
                                                <option value="Admin">Admin</option>
                                                <option value="Office Worker">Office Worker</option>
                                                <option value="Registered User">Registered User</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" class="btn btn-primary" value="Save Changes">
                                        <span></span>
                                        <input type="reset" class="btn btn-default" value="Cancel">
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}