@import helpers.SessionHelper

@(user: User, offices: List[PostOffice], path: ImagePath)(implicit currentUser: User = SessionHelper.getCurrentUser(ctx()))
@import helper._
@main("Edit your profile") {

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top : 2 %" >
                <h2 style="text-align : center">User Profile </h2>
            </div>
        </div>
            <!--======IMAGE UPLOAD========-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" style="margin-bottom : 6 %">
                    <div class="text-center">
                        @if(path != null) {
                            <img src="@path.image_url" class="avatar img-circle" alt="avatar" height="100" width="100">
                        } else {
                            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                        }
                        <h6>Profile photo</h6>
                    </div>
                </div>
            </div>
        </div> <!--Ends Image upload-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label" style="text-align : right">
                            First Name:
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                                <input type="text" name="firstName" disabled class="form-control" id="firstName" value="@user.firstName" required="required">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">

                        <label for="lastName" class="col-sm-2 control-label" style="text-align : right">
                            Last Name:
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                                <input type="text" name="lastName" disabled class="form-control" id="lastName" value="@user.lastName" required="required">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">

                        <label for="email" class="col-sm-2 control-label" style="text-align : right" >
                            Email:
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>

                                <input name="email" disabled type="email" class="form-control" value="@user.email">

                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    @if(user.country != null) {
                        <div class="form-group">

                            <label for="userCountry" class="col-sm-2 control-label" style="text-align : right">
                                Country:
                            </label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    <input type="text" name="userCountry" disabled class="form-control" id="userCountry" value="@user.country.countryName" required="required">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="form-group">

                            <label for="phoneNumber" class="col-sm-2 control-label" style="text-align : right">
                                Phone Number:
                            </label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    <input type="text" name="phoneNumber" disabled class="form-control" id="lastName" value="@user.phoneNumber" required="required">
                                </div>
                                @if(user.phoneNumber != null && user.numberValidated == false) {
                                    <span style="font-size: 9px; color: red; ">This phone number is not validated!
                                        <a href="@routes.UserController.validatePhone()" style="text-decoration: none">VALIDATE NOW!</a></span>
                                }
                            </div>
                        </div>
                    }

                    @helper.form(action = routes.UserController.updateUserType(user.id), 'class -> "form-horizontal", 'role -> "form") {

                        @if(currentUser != null && currentUser.typeOfUser == UserType.ADMIN) {
                            @if(currentUser.id != user.id) {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-2" style="text-align : right"><strong>
                                            Select User Type:</strong></div>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="userType">
                                                @if(user.typeOfUser == UserType.ADMIN) {
                                                    <option value="Admin">Admin</option>
                                                    <option value="Delivery Worker">Delivery Worker</option>
                                                    <option value="Office Worker">Office Worker</option>
                                                    <option value="Registered User">Registered User</option>
                                                }
                                                @if(user.typeOfUser == UserType.DELIVERY_WORKER) {
                                                    <option value="Delivery Worker">Delivery Worker</option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Office Worker">Office Worker</option>
                                                    <option value="Registered User">Registered User</option>
                                                }
                                                @if(user.typeOfUser == UserType.OFFICE_WORKER) {
                                                    <option value="Office Worker">Office Worker</option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Delivery Worker">Delivery Worker</option>
                                                    <option value="Registered User">Registered User</option>
                                                }
                                                @if(user.typeOfUser == UserType.REGISTERED_USER) {
                                                    <option value="Registered User">Registered User</option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Delivery Worker">Delivery Worker</option>
                                                    <option value="Office Worker">Office Worker</option>

                                                }

                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <br/>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-2" style="text-align : right"><strong>
                                            Select Office:</strong></div>
                                        <div class="col-sm-10">

                                            <select class="form-control sortAlphabetically" name="postOffice">

                                                @if(user.postOffice != null) {
                                                    <option value="@user.postOffice.name"><strong>@user.postOffice.name</strong></option>
                                                }
                                                <option value=""></option>
                                                @for(office <- offices) {
                                                    @if(user.postOffice != null) {
                                                        @if(user.postOffice.id != office.id) {
                                                            <option value="@office.name">@office.name</option>
                                                        }
                                                    } else {
                                                        <option value="@office.name">@office.name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-2" style="text-align : right"><strong>
                                            Driving Office:</strong></div>
                                        <div class="col-sm-10">

                                            <select class="form-control sortAlphabetically" name="drivingPostOffice">

                                                @if(user.drivingOffice != null) {
                                                    <option value="@user.drivingOffice"><strong>@user.drivingOffice</strong></option>
                                                }
                                                <option value=""></option>
                                                @for(office <- offices) {
                                                    @if(user.postOffice != null) {
                                                        @if(user.postOffice.id != office.id) {
                                                            <option value="@office.name">@office.name</option>
                                                        }
                                                    } else {
                                                        <option value="@office.name">@office.name</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="container-fluid">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <input type="submit" class="btn btn-primary btn-sm" value="Save Changes">
                                            <span></span>
                                            <input type="reset" class="btn btn-default btn-sm" value="Cancel">
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>

}